name: telehealth
description: "Visit reservation app"
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  google_fonts: ^6.3.2
  intl: ^0.20.2
  supabase_flutter: ^2.10.3
  syncfusion_flutter_datepicker: ^31.2.15

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
    - assets/images/
